<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pers.os467.management.mapper.LessonMapper">

    <resultMap id="Lesson" type="pers.os467.management.entity.Lesson">
        <id property="lid" column="lid"></id>
        <result property="lname" column="lname"></result>
        <result property="hours" column="hours"></result>
    </resultMap>

    <insert id="addLesson">
        insert into lesson(
                            lname,
                            hours
        )values (
                 #{lesson.lname},
                 #{lesson.hours}
                        );
    </insert>

    <update id="updateLesson">
        update lesson set lname = #{lesson.lname},
                          hours = #{lesson.hours}
        where lid = #{lesson.lid}
    </update>

    <delete id="deleteLessonByLid">
        delete from lesson where lid = #{lid};
    </delete>

    <select id="getLessonByLid" resultMap="Lesson">
        select * from lesson where lid = #{lid};
    </select>
    <select id="getLessonListByLikeNameTotal" resultType="java.lang.Integer">
        select count(*) from lesson where ${col}
        <if test="!precise">
            like concat('%',#{likeName},'%')
        </if>
        <if test="precise">
            = #{likeName}
        </if>
    </select>
    <select id="getLessonListByLikeName" resultMap="Lesson">
        select * from lesson where ${col}
        <if test="!precise">
            like concat('%',#{likeName},'%')
        </if>
        <if test="precise">
            = #{likeName}
        </if>
        limit #{startIndex},#{pageSize}
    </select>
</mapper>